@font-face {
	font-family: 'TT Lakes';
	src: url('/fonts/TTLakes-Bold.eot');
	src: url('/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
	  url('/fonts/TTLakes-Bold.woff') format('woff'),
	  url('/fonts/TTLakes-Bold.ttf') format('truetype');
	font-style: bold;
	font-weight: 700;
 }
 @font-face {
	font-family: 'TT Lakes';
	src: url('/fonts/TTLakes-Regular.eot');
	src: url('/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
	  url('/fonts/TTLakes-Regular.woff') format('woff'),
	  url('/fonts/TTLakes-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
 } 

/* подключение декоративных картинок                    */

/* Красный круглые кнопки - это такие же блоки из предыдущего макета. 
Смотри финальный макет и заранее планируй, где одинаковые элементы, 
которые можно выделить в блок, чтобы потом легче было работать над финальным макетом
В первом макете кнопки выделены в класс round-icon, все круглые кнопки будут в этом классе*/

.round-icon {
	background: #ff3e79;
   	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.button-exit {
	background-image: url("../icons/burger.svg");
}

.button-search {
	background-image: url("../icons/search.svg");
}

.button-call {
	background-image: url("../icons/chat copy.svg");
}

.button-chat {
	background-image: url("../icons/chat.svg");
}

.button-profile {
	background-image: url("../icons/profile.svg");
}

/*                                                       */
.aside {
	width: 320px;
	height: 1024;
	box-shadow: 16px 0px 52px 0px #0E185033;
	color:#1B1C21;
	color: inherit
}

.aside__header {
	width: 100%;
	vertical-align: middle;
}

.button-exit {
	margin-right: 16.73px;
}

.aside__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 18.73px 24px 46.27px 24px;
}

.aside__link {
	display: flex;
	width: 97px;
	height: 51px;
	margin-right: 78.27px;
}

.aside__main {
	width: 69.375%;
	padding-left: 24px;
	padding-bottom: 268px;
}

.aside__nav {
	font-family: "TT Lakes", sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.nav__list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.nav__item {
	display: flex;
	cursor: pointer;
	transition: 3s;
	height: 24px;
}

.nav__item::before {
	content: '';
	width: 8px;
	height: 32px;
	transition: 3s;
	margin-top: -4px;
	margin-left: -28px;
	margin-right: 20px;
	background-color: #41f6d7;
	border-radius: 5px;
	pointer-events: none; /*чтоб не мешался*/
   	opacity: 0;
   	transition: ease opacity 0.5s;
   	transition-delay: .0s; /*при убирании курсора анимация сразу сработает*/
}

.nav__item:hover::before {
	content: '';
	width: 8px;
	height: 32px;
	margin-top: -4px;
	margin-left: -28px;
	margin-right: 20px;
	background-color: #41f6d7;
	border-radius: 5px;
	opacity: 1;
   	transition-delay: .3s;
}

.nav-link {
	width: 100%;
	/* 2-е имеется в виду немного увеличить высоту ссылок 
	надеюсь 30 подойдет ? */
	height: 30px;
	transition: 0.5s;
	text-decoration: none;
	color: #1B1C21;
}

.nav-link:hover {
	transition: 0.5s;
	color: #7E7E82;
}

.footer {
	width: 69.375%;
	padding: 0 0 32px 24px;
}

.footer__contacts {
	padding-bottom: 40px;
}

.footer__icons {
	display: flex;
	gap: 16px;
	padding-bottom: 16px;
}

.footer__link {
	padding-bottom: 12px;
	font-family: 'TT Lakes', 'Arial', sans-serif;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
}

link__item {
	font-family: 'TT Lakes', 'Arial', sans-serif;
	font-size: 16px;
}

.footer__number {
	font-family: 'TT Lakes', 'Arial', sans-serif;
}

.number__item {
	font-family: 'TT Lakes', 'Arial', sans-serif;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.6px;
  	text-align: left;
	font-weight: 700;
}

.footer__language {
	display: flex;
	gap: 7px;
}

.language__button {
	font-family: 'TT Lakes', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.language__button:active {
	color: #7E7E82;
}

.footer__button:last-child {
	margin-right: 0;
}
